.App {
    text-align: center;
}
body{
    text-align: center;
    margin:20px;
    background: #ecebe7;
}
td {
    border: 1px solid #4f4f4f;

}

table {
    margin: auto;
    width: auto;
    height: auto;
}
input{
    height:25px !important;
}
select{
    height: 30px !important;
}

.activecelltable {
    border: 0px solid #ced1d2;
    background: #f1dc2d;
    width: 100%;
    height: 110px;
}

.celldiv {
    width: 110px;
    height: 110px;
    text-align-all: center;
}
.btn-space{
    margin:5px;
}
.container-60
{
    width: 60%;
    text-align: center;
}
.col-space{
    margin:10px;
    text-align: left;

}
